body {
  background-color: #f0ffff;
}

#form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 20%;
  margin: auto;
  padding: 25px;
  margin-top: 50px;
  background-color: #feedf1;
}

#submit {
  background-color: #3a63f7;
  border: none;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  width: 40%;
  margin-left: 70px;
}

input {
  padding: 7px 10px;
}

#account {
  text-align: center;
  margin-top: 40px;
  font-size: large;
}

a {
  text-decoration: none;
  color: #3a63f7;
  font-size: large;
  cursor: pointer;
  line-height: 20px;
}

a:hover {
  text-decoration: underline;
  cursor: progress;
}

#navbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  background-color: turquoise;
  margin-top: -7px;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #6a1caf;
  cursor: pointer;
}
