body {
  background-color:plum;
}

a {
  text-decoration: none;
  color: #3a63f7;
  font-size: large;
  cursor: pointer;
  line-height: 20px;
}

a:hover {
  text-decoration: underline;
}

#navbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  background-color: turquoise;
  margin-top: -7px;
}
